{% extends "base_galerias.html" %}


{% load static %}
{% block title%}PORTFOLIO WiLL{% endblock title %}


{% block content %}

<div class="centro">
    <img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">
    <h1>WILLIAN DRYGLA CARDOSO "WiLL"</h1>
    <P>me chamo willian, mais conhecido como will ou polaco</P>
    <p>estou no auge dos meus 22 anos e quero migrar de carreira</p>
    <p>idealizei esse projeto e com minha equipe estamos pondo em pratica</p>
    <p>sou de ponta grossa - Pr</p>
      <a href="https://drygla.pythonanywhere.com/cvmodelos/will/">MEU CURRICULO</a>
    <h2>minhas galerias pessoais</h2>
        <a href="https://drygla.pythonanywhere.com/galerias/ceu_will/">FOTOS DO CÉU TIRADAS PELO WILL</a></br></br>
    <a href="https://drygla.pythonanywhere.com/galerias/festa_kelly/">FESTA HARRY POTTER - KELLY CAMPOS</a></br>



</div>
<div class="centro">


</br>
    <h2>SOBRE MIM</h2>
    <p>- ESSE SITE FOI DESENVOLVIDO COMO MEU PRIMEIRO PROJETO PESSOAL</p>
    <p>* Fiz esse portfólio com o objetivo de testar minhas habilidades, e também expor um pouco da pessoa que sou;</p>
    <p>* Atualmente estou no 2° semestre de Ciência da Computação pela UAM.</p>
    <p>* Estou em busca da minha primeira oportunidade na área da tecnologia,  buscando me integrar a área,
        possuo muito dedicação e vontade de aprender, me adapto muito bem a novas áreas e aprendo rapidamente; </p>
    <p>* Comecei com a programação pois sempre gostei de criar, descobrir como as coisas funcionam, mas,
        não conheço tanto a area empresarial, então ainda não tenho uma vaga em mente, estou disposto a aprender; </p>
    <p>* Se você for recrutador, me de uma oportunidade de mostrar meus talentos, quero me inserir nessa área que tanto cresce; </p>
    <p>* Se você está apenas passeando pelo meu site, me indica no seu trabalho hahahah; </p>
    <p>* Atualmente trabalho no turno da madrugada, durante o dia cumpro com as obrigações da faculdade e faço cursos; </p>
    <p>Sou Paranaense nascido e criado em Ponta Grossa-PR, tenho 22 anos, sou o mais novo de 3 irmãos,
 tenho uma grande família, um cachorro e tenho tantas coisas para falar sobre mim, mas no momento irei começar com o básico,
 sou apaixonado por tecnologia, animais, natureza, livros, filmes, séries e pessoas.
</p>

<p>Venho de uma família simples, fui criado em um ambiente familiar muito bom, tenho ótimas relações com toda minha família,
 e amo estar com eles, fui criado por pessoas mais ‘velhas’ por ser o ultimo de uma geração, isso é algo que tem seus pontos bons e alguns nem tanto.
 Dentro da minha família tenho muitos exemplos a seguir, e tento bastante me inspirar neles, mas, levo comigo minha personalidade,
 tenho um jeito diferente de ser, algumas vezes já fui chamado de excentrico, apesar de eu me ver como alguém normal.

</p>
<p>Sou uma pessoa animada, falo bastante e gosto de interagir, amo uma roda de chimarrão, uma boa conversa ou um bom churrasco reunido de pessoas queridas.
 Amo as pessoas, amo conversar, descobrir com as pessoas, trocar experiencias, e isso ajuda a fortalecer a pessoa que sou, tento aprender observando os outros, observando o mundo.
</p>

<p>Sou apaixonado por tecnologia, principalmente por computadores, desde cedo tive contato com computador, e sempre tive uma grande facilidade com eles,
 ultimamente tenho me dedicado mais a conhecer melhor essa área, pois sempre tive um contato pessoal, agora estou querendo evoluir para trabalhar com isso
 ( ainda não decidi exatamente o que farei, mas gosto muito de programar, sempre gostei de descobrir como as coisas funcionam, consertar ou criar novas coisas)

</p>
<p> Eu uso todos os recursos ao meu alcance, hoje em dia temos tantos recursos para facilitar a nossa vida, então usando e abusando disso, sobra mais tempo para focar
 a mente no que realmente queremos ( seja estudando, trabalhando ou organizando a vida pessoal)

<p>Tenho uma certa paixão por coisas antigas, coleciono algumas e acho muito bom preservar partes da história, seja com fotos, objetos ou memórias, pois, grande parte do que somos
, é a nossa história. Tenho uma coleção de cervejas antigas que ganhei quando fiz 18 anos (a maioria delas é mais velha que eu) também coleciono alguns copos,
 gosto de canecas de louça ( também tenho algumas mais velhas que eu) e também guardo itens que me lembram coisas que gosto e marcaram minha vida ( na galeria deste site tem algumas fotos disso).

</p>
<p>Tenho um lado um pouco geek, antigamente jogava Magic e YuGiOh (ainda tenho cartas guardadas, pois foi uma época boa da minha vida, e gosto de relembrar)
 gosto de todo tipo de jogo eletronico (principalmente FPS, apesar de eu não ser muito bom nisso) em algum momento da minha vida foi jogador de LOL, Mu,
 Pokerag, Smite e diversos outros. Hoje em dia, em momentos de descanso, jogo Formula 1, Forza, CS:GO e Magic Arena, ou um bom e velho truco.
</p>


<p>Já ouvi muitas vezes que sou ‘velho’ e as vezes tenho que concordar, tenho alguns gostos e hábitos, que não condizem com o pessoal da minha idade,
 e é comum, meus amigos dizerem que sou velho( os que são da mesma geração, pois também tenho muita amizade com pessoal mais velho).
Talvez por ter sido criado numa família mais ‘antiga’, tenho facilidade em ter amizade com pessoas mais velhas, e uma certa dificuldade
com pessoal da minha idade, sempre foi dificil para mim me encaixar com os jovens.

</p>

<p>Terminarei meu resumo com uma frase que me identifico muito : ‘Eu prefiro escolher uma pessoa preguiçosa para um trabalho complexo,
 pois ela vai encontrar uma maneira fácil de fazer aquilo’, eu também acredito nisso, por experiencia própria, mas, eu não me considero alguém preguiçoso,
e sim alguém que gosta de fazer as coisas da maneira mais fácil, desde que atinja o mesmo resultado, e sempre empreguei isso na minha vida.</p>
</br>


</div>





  <div class="centro">
      <h1>MEUS HOBBIES</h1>
      </br></br>
  <h2>*   Desde pequeno sou fascinado em montar, desmontar, consertar e criar, em qualquer área;</h2>
  <p>------>  Aos 11 anos montei um Robô Garra Hidraulico, com uso de seringas, pedaços de mangueiras e madeiras;</p>
  <p>------>  Durante toda a infância, eu desmontava brinquedos, remontava, e sempre gostei de construir os meus próprios;</p>
  <p>------>  Isso com o tempo só evoluiu, comecei a trabalhar com conserto de eletrodomésticos e posteriormente automóveis</p>
  <p>------>  Quando entrei para o mundo empresarial, comecei a ter renda fixa e comprar ferramentas, sempre gostei de ter tudo que seja necessário para fazer algo, possuo diversas ferramentas para uso em geral;</p>
  <p>------>  Hoje em dia conserto qualquer eletrodoméstico que estraga (Tanto na minha casa, quanto na de familiares e vizinhos);</p>
  <p>------>  Tenho experiência com construção civil, inclusive faço reformas em minha casa por conta própria (calçadas, instalo portas, fiz o portão da minha casa, faço instalações elétricas).</p>
</br>
  <h2>*Gosto de ler, desenhar e escrever</h2>
   <p>------>  Gosto de conhecer novos mundos, incentivar a imaginação e focar a mente em algo</p>
   <p>------>  Realizar este tipo de atividade me relaxa, aumenta a criatividade, e como faço apenas como Hobbie, limpa a mente</p>
   <p>------>  Eu vejo como atividades necessárias para manter a mente em pleno funcionamento</p>
   <p>------>  E também combino com outras atividades, em geral com tomar chimarrão</p>
</br>
  <h2>*Sou fã de tecnologia, amo a facilidade que a tecnologia trás para minha vida, e tento usufruir o máximo possível disso</h2>
  <p>------>  Tudo que eu posso fazer com tecnologia eu faço (Apenas não gosto de substituir a interação social, tenho redes sociais e uso pouco, acho que a tecnologia não substitui a interação humana;</p>
  <p>------>  Sempre que vou fazer algo, tento ao máximo utilizar todas as ferramentas disponíveis, e as tecnologias surgem para isso;</p>
  <p>------>  Sempre estou conectado ao celular, computador ou notebook;</p>
  <p>------>  Eu sou do tipo que procura, pesquisa e encontra todos os recursos disponíveis, sempre quando instalo algo novo,  ou compro algum dispositivo, pesquiso muito sobre todos os usos que ele pode ter;</p>
  <p>------>  Recentemente comprei um notebook e posteriormente um PC para meus estudos, e faço uso deles para tudo, controle de planilhas pessoais, estudo, jogos, hobbies, ouvir música e relaxar.</p>
</br>


  <h2>*Aprecio demais a natureza, gosto de ter momentos de relaxamento olhando o céu, paisagens e amo chuva</h2>
  <p>------>  É normal em determinado momento do dia eu parar olhar o céu, seja quando estou tomando meu chimarrão, quando estou a caminho do trabalho ou em momentos de descanso;</p>
  <p>------>  Enquanto estudo, gosto de parar, ir ao ar livre, tomar um ar fresco, relaxar e voltar estudar;</p>
  <p>------>  Minha mente vai longe pensando enquanto eu olho para paisagens (sempre gostei de desenhar paisagens);</p>
  <p>------>  Em minha galeria do celular, há mais fotos do céu, paisagens e animais, do que fotos de pessoas.</p>


  <p> BÔNUS *Gosto muito de animais, um dos meus objetivos é poder colaborar com animais em situações de riscos, maltratos ou abandono (no momento não posso, então tento colaborar com ONG's, projetos sociais e animais próximos a mim, também sou contribuiente do Greenpeace Brasil)</p>
</br>

</div>



<div class="centro">



    <h3> - GOSTARIA DE RECEBER OPINIÕES SOBRE ESTE SITE</h3>
    <p> - ESPERO QUE GOSTEM</p>
    </br>
</div>


<div class="centro">


    <h3>- AQUI TEM MEU WHATSAPP PARA QUALQUER DICA, SUGESTÃO  E CRÍTICA</h3>
    <a class="absolute" href="https://api.whatsapp.com/send?phone=5542991668799&text=Bom%20dia%20Willian%2C%20acessei%20seu%20site%20e%20gostaria%20de%20me%20comunicar%20com%20voc%C3%AA!"><img  src="{% static 'wpp.png' %}" width="100" height="auto" style="border-radius: 95px;" ></a><br /><br /><br /><br /><br /><br /><br /><br />

  </div>

{% endblock content %}