{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="conteudo" xmlns="http://www.w3.org/1999/html">
        <h1>MEU PROJETO</h1>
<br/>
<h1>Eu estava pensando em um projeto para eu fazer nas férias e tive a ideia de fazer um site onde as pessoas possam hospedar: </h1>

<H2>      -Currículos</H2>
<H2>      -Catálogos de produtos</H2>
<H2>      -Apresentação de trabalhos</H2>
<H2>      -Blogs</H2>
<H2>      -Paginas de bandas</H2>
    <h2>-Galerias</h2>


    <br />
        <br />

<h1>CADA UM COM SEU LINK PRÓPRIO</h1>
    <br />


<h1>Por exemplo, se eu fizesse um currículo</h1>
<p>dryglahospeda.com.br/willian-drygla</p>
    <br />

<h1>Um portfólio/catálogo de produtos</h1>
<p>dryglahospeda.com.br/catálogo-produtos-"nome-da-loja"</p>
    <br />

<h1>Um blog</h1>
<p>dryglahospeda.com.br/blog-falando-sobre-tudo</p>
    <br />
        <br />
    <br />
        <br />
    <br />
        <br />


    <p>ENTRE EM CONTATO COMIGO ATRAVÉS DO WHATTSAPP OU EMAIL</p>
    <p>ME CONTE O QUE DESEJAR FAZER, ME EXPLIQUE SUA IDEIA E EU ME ENCARREGO DE FAZER TUDO</p>

    <p>COMO ESTOU INICIANDO, NÃO IREI COBRAR NADA</p>
    <p>QUERO FAZER ALGO PARA MELHORAR MINHAS HABILIDADES, E TAMBÉM GERAR VISUALIZAÇÃO, TANTO PARA MIM, QUANTO PARA VOCÊ</p>

    <p>TODA IDEIA DE MELHORIA É BEM-VINDA</p>
    <h2>LEMBREM QUE EU SOU INICIANTE</h2>



    <h1>NOSSA EQUIPE</h1>

    <div class="modelo1">
        <a href="/cvmodelos/will/"><img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">
        </a>
    <H5>'WiLL' DRYGLA </H5>
        <h6> IDEALIZADOR DO PROJETO, RESPONSÁVEL PELA CÓDIGO, ESTRUTURA E SERVIDOR.</h6>
    </div>


</div>



{% endblock content %}

