{% extends "base.html" %}

{% load static %}


{% block content %}
<div class="conteudo">
        <h1>MODELOS CURRICULO</h1>

    <div class="modelo1">
        <a href="/cvmodelos/will/"><img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">
        </a>
    <H5>WILLIAN DRYGLA</H5>
        <h6> CURSANDO CIÊNCIA DA COMPUTAÇÃO, 22 ANOS, RESIDENTE DE PONTA GROSSA-PR</h6>
    </div>

        <div class="modelo1">
            <a href="/cvmodelos/will/"><img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">
        </a>
    <H5>WiLL WiLLWiLL</H5>
        <h6> CURSANDO CIÊNCIA DA COMPUTAÇÃO, 22 ANOS, RESIDENTE DE PONTA GROSSA-PR</h6>
    </div>

        <div class="modelo1">
        <a href="/cvmodelos/will/"><img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">
        </a>
    <H5>CARDOSO</H5>
        <h6> CURSANDO CIÊNCIA DA COMPUTAÇÃO, 22 ANOS, RESIDENTE DE PONTA GROSSA-PR</h6>
    </div>

        <div class="modelo1">
        <a href="/cvmodelos/will/"><img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">
        </a>
    <H5>DRYGLA </H5>
        <h6> CURSANDO CIÊNCIA DA COMPUTAÇÃO, 22 ANOS, RESIDENTE DE PONTA GROSSA-PR</h6>
    </div>
            <div class="modelo1">
        <a href="/cvmodelos/will/"><img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">
        </a>
    <H5> WILLIAN </H5>
        <h6> CURSANDO CIÊNCIA DA COMPUTAÇÃO, 22 ANOS, RESIDENTE DE PONTA GROSSA-PR</h6>
    </div>
            <div class="modelo1">
        <a href="/cvmodelos/will/"><img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">
        </a>
    <H5>WiLL</H5>
        <h6> CURSANDO CIÊNCIA DA COMPUTAÇÃO, 22 ANOS, RESIDENTE DE PONTA GROSSA-PR</h6>
    </div>

</div>



{% endblock content %}





