{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curriculo-Will</title>
         <link href="{% static 'css/cv.css' %}" rel="stylesheet">

</head>
<body>
<!--<div class="barra">-->
<!--  <h1>WILLIAN DRYGLA CARDOSO "WiLL"</h1>-->
<!--    <a href="https://dryglawill.win/"><img src="{% static 'will.jpg' %}" width="160" height="auto" style="border-radius: 95px;">-->
<!--<br><br> </a>-->
<!--    <br />-->
<!--    <H1>CONTATO</H1>-->
<!--      <h2>TELEFONE</h2>-->
<!--        <p>(42)99166-8799</p>-->
<!--      <h2>EMAIL</h2>-->
<!--        <p>willian09.cardoso@gmail.com</p>-->
<!--      <H2>LINKEDIN</H2>-->
<!--        <p>www.linkedin.com/in/wdrygla</p>-->
<!--    <br />-->

<!--    <H1>COMPETENCIAS</H1>-->
<!--      <H2>INGLÊS INTERMEDIÁRIO</H2>-->
<!--        <p>ESCRITA E LEITURA, CONVERSAÇÃO</p>-->
<!--      <H2>PACOTE OFFICE</H2>-->
<!--        <p>USO PESSOAL E PROFISSIONAL</p>-->
<!--      <H2>PROGRAMAÇÃO</H2>-->
<!--        <p>PYTHON</p>-->
<!--        <p>C</p>-->
<!--        <p>HTML,CSS</p>-->

<!--    <br />-->

<!--    <h1>HABILIDADES INTERPESSOAIS</h1>-->
<!--      <H2>EFICÁCIA</H2>-->
<!--      <H2>OTIMIZAÇÃO DE PROCESSOS</H2>-->
<!--      <H2>ÉTICA PROFISSIONAL</H2>-->
<!--</div>-->

<div class="conteudo">
    <h1>OBJETIVO</h1>

        <H4>GOSTARIA DE UMA OPORTUNIDADE DE DAR INICIO A MINHA CARREIRA NA ÁREA DE TI</H4>
        <br />


    <H1>EXPERIÊNCIA PROFISSIONAL</H1>
    <h3>VIAÇÃO CAMPOS GERAIS - INICIO:25/02/2019 ATÉ 18/09/2019</h3>
           <P>AUXILIAR ADMINISTRATIVO APRENDIZ</P>
           <P>RECEBIMENTO DE MERCADORIAS</P>
           <P>ATENDIMENTO AO PUBLICO INTERNO</P>
           <P>AUXILIAR DE ALMOXARIFADO</P>
    <br />

    <h3>VIAÇÃO CAMPOS GERAIS LTDA - INICIO:19/09/2019 ATÉ:ATUAL</h3>
           <p>ALMOXARIFE JR</p>
           <p>COMPRAS</p>
           <p>LANÇAMENTO DE NF's</p>
        <H3> **** A PARTIR DE 02/2022 ATUANDO COMO PCM (PLANEJAMENTO E CONTROLE DE MANUTENÇÃO)</H3>


    <br />


    <h1>EDUCAÇÃO</h1>
        <h3>UNIVERSIDADE ANHEMBI MORUMBI</h3>
            <p>BACHARELADO EM CIÊNCIA DA COMPUTAÇÃO - 02/2022 - ATÉ ATUALMENTE</p>
        <br />

        <h3>UDEMY</h3>
            <p>PYTHON BÁSICO AO AVANÇADO</p>
            <p>INICIO 02/2022 Á 06/2022 - 112h</p>





</div>


</body>
</html>