{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="conteudo" xmlns="http://www.w3.org/1999/html">

<h1>ENTRE EM CONTATO COM NOSSA EQUIPE:</h1>




        <div class="modelo2">
        <img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">

    <H5>'WiLL' DRYGLA </H5>


<h6>FUNDADOR, LÍDER DA EQUIPE, DESENVOLVEDOR FULLSTACK</h6>



 <h6>2° semestre de Ciência da Computação, 22 anos, tive a ideia de desenvolver esse projeto para ganhar experiência
            e melhorar minhas habilidades, começei sozinho e acabei encontrando dois amigos para participar</h6>
        <h6> WHATTSAPP: (42)99166-8799</h6>
            <h6> EMAIL: willian09.cardoso@gmail.com</h6><h6>www.linkedin.com/in/wdrygla</h6>


    </div>

</div>

{% endblock content %}
