{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

    <head>

        <title>PSI-KELLY</title>

        <!-- Bootstrap core CSS -->
     <link href="{% static 'css/psikelly/base.css' %}" rel="stylesheet">


      </head>
<body>
   <div class="menu">
    <br /><br /><br /> <br /><br /><br />
        <a class="nav-link" href="https://drygla.pythonanywhere.com/pagina/psikelly/sobre/">SOBRE</a><br /><br /><br /><br /><br /><br />
        <a class="nav-link" href="https://drygla.pythonanywhere.com/pagina/psikelly/artigos/">ARTIGOS</a><br /><br /><br /><br /><br /><br />
   </div>
      <div class="menucel">

        <a class="nav-link" href="https://drygla.pythonanywhere.com/pagina/psikelly/sobre/">SOBRE</a>
        <a class="nav-link" href="https://drygla.pythonanywhere.com/pagina/psikelly/artigos/">ARTIGOS</a>







    <div class="info">
        <img  class="kelly" src="{% static 'css/psikelly/kelly.jpeg' %}">

    <h1>Kelly Campos</h1>
    <p>PSICANALISTA CLINICA</p>
    <P>HIPNOTERAPEUTA</P>
    </div>

    <div class="frase">
    "A ANÁLISE PESSOAL REALIZADA POR PSICANALISTA TEM O PODER DE TRANSFORMAR A VIDA DO PACIENTE, REFLETINDO NUMA MELHORA DE QUALIDADE DE VIDA E DOS RELACIONAMENTOS"
    </div>

    <div class="atendimento">
ATENDIMENTO VIRTUAL E PRESENCIAL, APENAS COM HORÁRIO MARCADO
    </div>


    <div class="endereco">
    <p>Rua Bernardo Vasconcelos, 443 - Jd Carvalho</p>
    </div>

    <div class="contato">
    <p> E-mail: psikellycampos@gmail.com</p>
   </div>

</body>
</html>