{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

    <head>

        <title>CHICO-CARPINTEIRO</title>

        <!-- Bootstrap core CSS -->
     <link href="{% static 'css/tiochico/base.css' %}" rel="stylesheet">


      </head>
<body>






 <div class="sobre">
     <h1>CHICO CARPINTEIRO</h1>
<h2>CONSTRUÇÃO DE CASAS E REFORMAS EM GERAL</h2>
<p>A MAIS DE 30 ANOS CONSTRUINDO CASAS, FAZENDO REFORMAS E REALIZANDO SONHOS, NA REGIÃO DOS CAMPOS GERAIS, OU ONDE VOCÊ PREFERIR!</p>
    </div>

    <div class="fotos">
      <img class="img" src="{% static 'css/tiochico/tiochico13.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico14.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico15.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico16.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico1.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico2.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img"  src="{% static 'css/tiochico/tiochico3.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico4.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico5.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img"  src="{% static 'css/tiochico/tiochico6.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img"  src="{% static 'css/tiochico/tiochico7.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico8.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img"  src="{% static 'css/tiochico/tiochico9.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico10.jpeg' %}" width="auto" height="300" style="float:center">
      <img class="img" src="{% static 'css/tiochico/tiochico11.jpeg' %}" width="auto" height="300" style="float:center">
            <img class="img" src="{% static 'css/tiochico/tiochico12.jpeg' %}" width="auto" height="300" style="float:center">




    </div>


</body>
</html>