{% extends "base.html" %}

{% load static %}


{% block content %}
<div class="conteudo">
     <h1>GOSTOU DOS NOSSOS MODELOS?</h1>
     <H1>GOSTARIA DE TER UM SITE HOSPEDADO AQUI?</H1>
     <H2> ENTRE EM CONTATO CONOSCO, NOS PASSE SUA IDEIA, E O RESTO NÓS FAZEMOS</H2>
     <H1> E O MELHOR, FAZEMOS TUDO DE GRAÇA!!</H1>



        <div class="modelo2">
        <img  src="{% static 'will.jpg' %}" width="200" height="auto" style="border-radius: 95px;">

    <H5>'WiLL' DRYGLA </H5>


<h6>FUNDADOR, LÍDER DA EQUIPE, DESENVOLVEDOR</h6>


    <a class="absolute" href="https://api.whatsapp.com/send?phone=5542991668799&text=Bom%20dia%20WiLL%2C%20acessei%20seu%20site%20e%20gostaria%20de%20criar%20um%20site%20para%20mim!"><img  src="{% static 'wpp.png' %}" width="100" height="auto" style="border-radius: 95px;" ></a>

            <h6> EMAIL: willian09.cardoso@gmail.com</h6>
            <h6>www.linkedin.com/in/wdrygla</h6>


    </div>
</div>

{% endblock content %}