body{
        background-image: url("fundokelly.png");
        background-size: 100%;

}
.menu{
    position:fixed;
    top: 15%;
    left: 3%;
    width: 10%;
    font-size:150%;
    border-style: groove;
    border-radius:100px;
    border-color: black;
    padding: 50px;
    text-align: center;
    font-weight: bolder;
    background-color:rgba(252, 225, 221 , 0.800);



}
.nav-link{
        text-decoration: none;
        color: black;
        font-size: 150%;
}

.info{
    position:fixed;
    top: 2%;
    left: 30%;
    width: 30%;
    font-size:100%;
    padding: 50px;
    text-align: center;
    font-weight: bolder;

}
.frase{
    position:fixed;
    top: 24%;
    right: 7%;
    width: 15%;
    font-size:100%;
    border-style: groove;
    border-radius:20px;
    border-color: black;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    background-color:rgba(0, 177, 29, 0.711);



}

.atendimento{
    position:fixed;
    bottom: 4%;
    right: 5%;
    width: 15%;
    font-size:100%;
    border-style: groove;
    border-radius:100px;
    border-color: black;
    padding: 50px;
    text-align: center;
    font-weight: bolder;
    background-color:rgba(252, 225, 221 , 0.200);



}

.contato{
    position:fixed;
    bottom: 12%;
    left: 38%;
    font-size:100%;
    border-style: groove;
    border-radius:100px;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgba(252, 225, 221 , 0.400);


}

.endereco{
    position:fixed;
    bottom: 2%;
    left: 35%;
    font-size:100%;
    border-style: groove;
    border-radius:100px;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgba(252, 225, 221 , 0.400);


}
.menucel{
    position: fixed;
    right: -1500%;

    font-size:150%;
    border-style: groove;
    border-radius:100px;
    border-color: black;
    padding: 50px;
    text-align: center;
    font-weight: bolder;
    background-color:rgba(252, 225, 221 , 0.800);

}
.kelly{
    width: auto;
    height: 350px;
    border-radius: 95px;
}
@media (max-width : 1400px) {
    body{
        background-image: url("fundokellypc.png");
    }
    .frase{
        top: 19%;
        font-size: 70%;
    }
    .info{
        font-size: 70%;

    }
    .atendimento{
        font-size: 70%;

    }

    .contato{
        font-size: 50%;
        left:40%;

    }
    .endereco{
        font-size: 50%;
        left:38%;

    }
    .menu{
        font-size: 90%;

    }
    .kelly{
    width: auto;
    height: 250px;
    border-radius: 95px;
}
}
@media (max-device-width: 700px){
    body{
      background-size:120%;
        background-image: url("fundokellycel.png");



    }
   .nav-link{
    padding: 100px;
   }
   .menu{
    position:fixed;
    top: -1500%;
    left: -1503%;
    width: 90%;
    font-size:150%;

    }
    .info{
    position:fixed;
    top: 15%;
    left: 2%;
    text-align:center;
    width: 45%;
    font-size:200%;
    border-style: groove;
    border-radius:100px;
    border-color: black;
    text-align: center;
    background-color:rgba(252, 225, 221 , 0.200);


    }
    .frase{
    position:fixed;
    top: 22%;
    right: 2%;
    width: 35%;
    font-size:130%;
    background-color:rgba(0, 177, 29, 0.411);


    }
    .menucel{
    position: fixed;
    top: 3%;
    left: 3%;
    right:3%;
    padding: 50px;

    }
    .atendimento{
    position:fixed;
    bottom: 30%;
    right: 2%;
    width: 25%;
    font-size: 120%;



    }
    .contato{
    position:fixed;
    bottom: 8%;
    left: 25%;
    font-size: 120%;
    border-style: groove;
    border-radius:100px;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgba(252, 225, 221 , 0.400);


    }

    .endereco{
    position:fixed;
    bottom: 2%;
    left: 20%;
    border-style: groove;
    border-radius:100px;
    border-color: black;
    padding-left: 20px;
    font-size: 120%;

    padding-right: 20px;
    background-color:rgba(252, 225, 221 , 0.400);


    }
}