{% extends "base_galerias.html" %}

{% load static %}


{% block content %}

<div class="centro">
        <h1> PAISAGENS by 'WiLL"</h1>
        <h3>FOTOS DISPONIBILIZADAS AO PROJETO COMO MODELO PELO WiLL</h3>


  <img src="{% static 'galeria/ceu_will/ceu1.jpeg' %}" width="auto" height="300" style="float:center">


  <img src="{% static 'galeria/ceu_will/ceu2.jpg' %}" width="auto" height="300" style="float:center">

  <img src="{% static 'galeria/ceu_will/ceu3.jpeg' %}" width="auto" height="300"style="float:center">

  <img src="{% static 'galeria/ceu_will/ceu4.jpeg' %}" width="auto" height="300" style="float:center">

  <img src="{% static 'galeria/ceu_will/ceu5.jpeg' %}" width="auto" height="300" style="float:center">


  <img src="{% static 'galeria/ceu_will/ceu6.jpg' %}" width="auto" height="300" style="float:center">

  <img src="{% static 'galeria/ceu_will/ceu7.jpeg' %}" width="auto" height="300"style="float:center">

  <img src="{% static 'galeria/ceu_will/ceu8.jpeg' %}" width="auto" height="300" style="float:center">
  <img src="{% static 'galeria/ceu_will/ceu10.jpg' %}" width="auto" height="300" style="float:center">


  <img src="{% static 'galeria/ceu_will/ceu12.jpg' %}" width="auto" height="300" style="float:center">

  <img src="{% static 'galeria/ceu_will/ceu14.jpg' %}" width="auto" height="300"style="float:center">

  <img src="{% static 'galeria/ceu_will/ceu17.jpg' %}" width="auto" height="300" style="float:center">
  <img src="{% static 'galeria/ceu_will/ceu21.jpg' %}" width="auto" height="300" style="float:center">



</div>
{% endblock content%}