{% extends "base_galerias.html" %}

{% load static %}


{% block content %}

<div class="centro">
        <h1> FESTA KELLY (IRMÃ DO WiLL) </h1>
        <h3>TEMA HARRY POTTER  - 02/11/2022</h3>


  <img src="{% static 'galeria/festa_kelly/festa1.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa6.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa8.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa9.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa10.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa11.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa12.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa13.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa14.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa15.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa16.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa17.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa18.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa19.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa20.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa21.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa22.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa23.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa24.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa25.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa26.jpeg' %}" width="auto" height="350" style="float:center">
  <img src="{% static 'galeria/festa_kelly/festa27.jpeg' %}" width="auto" height="350" style="float:center">




</div>
{% endblock content%}