{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="conteudo">
    <div class="modelo1">
        <a href="/galerias/ceu_will/"><img  src="{%  static 'galeria/ceu_will/ceu8.jpeg' %}" width="auto" height="200" style="border-radius: 100px;"></a>
        <h2> PAISAGENS by WiLL</h1>

    </div>

        <div class="modelo1">
        <a href="/galerias/festa_kelly/"><img  src="{%  static 'galeria/festa_kelly/festa13.jpeg' %}" width="auto" height="200" style="border-radius: 100px;"></a>
        <h2>FESTA TEMA HARRY POTTER - IRMÃ DO WiLL</h1>

    </div>

</div>

{% endblock content %}
