{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

    <head>

        <title>HOSPEDA-AÍ</title>

        <!-- Bootstrap core CSS -->
     <link href="{% static 'css/base.css' %}" rel="stylesheet">


      </head>
<body>
<div class="lado">
    <h1>HOSPEDA</h1>
    <h1>AÍ</h1>
    <a class="nav-link" href="/">INÍCIO</a><br /><br /><br />
    <a class="nav-link" href="/sobre/">NOSSO PROJETO</a><br /><br /><br />
    <a class="nav-link" href="/galerias/">GALERIAS</a><br /><br /><br />
    <a class="nav-link" href="/portfolio/">PORTFÓLIOS</a><br /><br /><br />
    <a class="nav-link" href="/pagina/">PÁGINAS</a><br /><br /><br />
    <a class="nav-link" href="/catalogo/">CATÁLOGOS DE PRODUTOS</a><br /><br /><br />
    <a class="nav-link" href="/cvmodelos/">CURRICULOS</a><br /><br /><br />
    <a class="nav-link" href="/crie-o-seu/">CRIE O SEU</a><br /><br /><br />
    <a class="nav-link" href="/contato/">EQUIPE</a><br /><br /><br />




</div>

<div class="topocelular">
<br /><br /><br /><br />
    <a class="nav-link" href="/">INÍCIO</a>
    <a class="nav-link" href="/sobre/">NOSSO PROJETO</a>
    <a class="nav-link" href="/galerias/">GALERIAS</a><br /><br /><br />
    <a class="nav-link" href="/portfolio/">PORTFÓLIOS</a>
    <a class="nav-link" href="/pagina/">PÁGINAS</a>
    <a class="nav-link" href="/catalogo/">CATÁLOGOS DE PRODUTOS</a><br /><br /><br />
    <a class="nav-link" href="/cvmodelos/">CURRICULOS</a>
    <a class="nav-link" href="/crie-o-seu/">CRIE O SEU</a>
    <a class="nav-link" href="/contato/">EQUIPE</a>





</div>

{% block content %}
{% endblock content %}

</body>
</html>