{% extends "base.html" %}

{% load static %}


{% block content %}
<div class="conteudo">
        <h1>MODELOS CATÁLOGOS DE PRODUTOS</h1>

    <div class="modelo1">
        <a href="/catalogo/modelo01/"><img  src="{% static 'logo.png' %}" width="auto" height="100" style="border-radius: 100px;"></a>
        <h5>VENDA DE SERVIÇOS DIGITAIS</h5>
        <H6>VENHA CONHECER NOSSOS SERVIÇOS</H6>
        <h5>*APENAS UM MODELO, NÃO UM SERVIÇO FUNCIONAL</h5>
    </div>

        <div class="modelo1">
        <a href="/catalogo/modelo01/"><img  src="{% static 'logo01.jpeg' %}" width="auto" height="100" style="border-radius: 100px;"></a>
        <h5>VENDA DE SERVIÇOS DIGITAIS</h5>
        <H6>VENHA CONHECER NOSSOS SERVIÇOS</H6>
        <h5>*APENAS UM MODELO, NÃO UM SERVIÇO FUNCIONAL</h5>
    </div>

        <div class="modelo1">
        <a href="/catalogo/modelo01/"><img  src="{% static 'logo02.jpg' %}" width="auto" height="100" style="border-radius: 100px;"></a>
        <h5>VENDA DE SERVIÇOS DIGITAIS</h5>
        <H6>VENHA CONHECER NOSSOS SERVIÇOS</H6>
        <h5>*APENAS UM MODELO, NÃO UM SERVIÇO FUNCIONAL</h5>
    </div>



</div>
{% endblock content%}